.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


.containercolumn {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  width: 600px;
}

.containerrow {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: auto;
  width:1000px;
}

.item{

  align-self: center;
  align-items: center;
  text-align:center;
  height:300px;
  margin:10px;
}

